### Question 1

In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv('stroke3.csv')
df

,gender,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,0.0,0,1,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,0.0,0,1,Private,Rural,105.92,32.5,never smoked,1
2,Female,0.0,0,0,Private,Urban,171.23,34.4,smokes,1
3,Female,0.0,1,0,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,0.0,0,0,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...
4976,Male,0.0,0,0,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,0.0,0,0,Private,Urban,191.15,31.1,smokes,0
4978,Female,0.0,1,0,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,0.0,0,0,Private,Rural,83.94,30.0,smokes,0
4980,Female,0.0,1,0,Private,Urban,83.75,29.1,never smoked,0

### Question 2:

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   object
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   work_type          4981 non-null   object
 5   Residence_type     4981 non-null   object
 6   avg_glucose_level  4981 non-null   float64
 7   bmi                4981 non-null   float64
 8   smoking_status     4981 non-null   object
 9   stroke             4981 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 389.3+ KB

In [3]:
df.gender.unique()

array(['Male', 'Female'], dtype=object)

In [4]:
df.work_type.unique()

array(['Private', 'Self-employed', 'Govt_job', 'children'], dtype=object)

In [5]:
df.Residence_type.unique()

array(['Urban', 'Rural'], dtype=object)

In [6]:
df.smoking_status.unique()

array(['formerly smoked', 'never smoked', 'smokes'], dtype=object)

In [7]:
[column for column in df.columns if df[column].dtypes == object]

['gender', 'work_type', 'Residence_type', 'smoking_status']

In [8]:
for col in [column for column in df.columns if df[column].dtypes == object]:
    print(col)
    print(df[col].value_counts())
    print()

gender
Female    2907
Male      2074
Name: gender, dtype: int64

work_type
Private          2860
Self-employed     804
children          673
Govt_job          644
Name: work_type, dtype: int64

Residence_type
Urban    2532
Rural    2449
Name: Residence_type, dtype: int64

smoking_status
smokes             2276
never smoked       1838
formerly smoked     867
Name: smoking_status, dtype: int64

### Question 3:

In [9]:
smoking_category_map = {
    'never smoked':1, 
    'formerly smoked':2, 
    'smokes':3
}
df['smoking_category'] = df['smoking_status'].map(smoking_category_map)
df

,gender,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke,smoking_category
0,Male,0.0,0,1,Private,Urban,228.69,36.6,formerly smoked,1,2
1,Male,0.0,0,1,Private,Rural,105.92,32.5,never smoked,1,1
2,Female,0.0,0,0,Private,Urban,171.23,34.4,smokes,1,3
3,Female,0.0,1,0,Self-employed,Rural,174.12,24.0,never smoked,1,1
4,Male,0.0,0,0,Private,Urban,186.21,29.0,formerly smoked,1,2
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,0.0,0,0,Private,Rural,70.15,29.8,formerly smoked,0,2
4977,Male,0.0,0,0,Private,Urban,191.15,31.1,smokes,0,3
4978,Female,0.0,1,0,Govt_job,Rural,95.02,31.8,smokes,0,3
4979,Male,0.0,0,0,Private,Rural,83.94,30.0,smokes,0,3
4980,Female,0.0,1,0,Private,Urban,83.75,29.1,never smoked,0,1

### Question 4:

In [10]:
cat_cols = [column for column in df.columns if df[column].dtypes == object]

df = pd.get_dummies(df, columns=cat_cols)

df

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,smoking_category,gender_Female,gender_Male,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0.0,0,1,228.69,36.6,1,2,0,1,0,1,0,0,0,1,1,0,0
1,0.0,0,1,105.92,32.5,1,1,0,1,0,1,0,0,1,0,0,1,0
2,0.0,0,0,171.23,34.4,1,3,1,0,0,1,0,0,0,1,0,0,1
3,0.0,1,0,174.12,24.0,1,1,1,0,0,0,1,0,1,0,0,1,0
4,0.0,0,0,186.21,29.0,1,2,0,1,0,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4976,0.0,0,0,70.15,29.8,0,2,0,1,0,1,0,0,1,0,1,0,0
4977,0.0,0,0,191.15,31.1,0,3,0,1,0,1,0,0,0,1,0,0,1
4978,0.0,1,0,95.02,31.8,0,3,1,0,1,0,0,0,1,0,0,0,1
4979,0.0,0,0,83.94,30.0,0,3,0,1,0,1,0,0,1,0,0,0,1
4980,0.0,1,0,83.75,29.1,0,1,1,0,0,1,0,0,0,1,0,1,0

### Question 5:

In [11]:
df_x = df.drop('age', axis=1)
df_y = df['age']

In [12]:
df_x

,hypertension,heart_disease,avg_glucose_level,bmi,stroke,smoking_category,gender_Female,gender_Male,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0,1,228.69,36.6,1,2,0,1,0,1,0,0,0,1,1,0,0
1,0,1,105.92,32.5,1,1,0,1,0,1,0,0,1,0,0,1,0
2,0,0,171.23,34.4,1,3,1,0,0,1,0,0,0,1,0,0,1
3,1,0,174.12,24.0,1,1,1,0,0,0,1,0,1,0,0,1,0
4,0,0,186.21,29.0,1,2,0,1,0,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4976,0,0,70.15,29.8,0,2,0,1,0,1,0,0,1,0,1,0,0
4977,0,0,191.15,31.1,0,3,0,1,0,1,0,0,0,1,0,0,1
4978,1,0,95.02,31.8,0,3,1,0,1,0,0,0,1,0,0,0,1
4979,0,0,83.94,30.0,0,3,0,1,0,1,0,0,1,0,0,0,1
4980,1,0,83.75,29.1,0,1,1,0,0,1,0,0,0,1,0,1,0

In [13]:
df_y

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4976    0.0
4977    0.0
4978    0.0
4979    0.0
4980    0.0
Name: age, Length: 4981, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split

trainX, testX, trainY, testY = train_test_split(df_x, df_y, test_size=0.3, random_state = 0)

trainX.shape, testX.shape, trainY.shape, testY.shape

((3486, 17), (1495, 17), (3486,), (1495,))

In [15]:
trainX

,hypertension,heart_disease,avg_glucose_level,bmi,stroke,smoking_category,gender_Female,gender_Male,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
1692,0,0,187.87,32.3,0,1,0,1,1,0,0,0,1,0,0,1,0
4380,0,0,102.87,26.6,0,3,1,0,0,1,0,0,1,0,0,0,1
2066,0,0,88.48,34.3,0,1,0,1,0,0,1,0,1,0,0,1,0
2240,0,0,65.66,24.6,0,2,1,0,0,1,0,0,1,0,1,0,0
2526,0,1,94.45,29.6,0,2,1,0,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,0,0,212.02,33.5,0,3,0,1,0,0,1,0,1,0,0,0,1
3264,0,0,78.34,32.5,0,3,0,1,0,1,0,0,1,0,0,0,1
1653,0,0,224.63,42.8,0,1,1,0,0,0,1,0,0,1,0,1,0
2607,0,0,107.49,29.5,0,1,0,1,0,1,0,0,0,1,0,1,0
2732,0,0,90.22,18.7,0,3,1,0,0,0,0,1,1,0,0,0,1

In [16]:
trainY

1692    0.0
4380    1.0
2066    0.0
2240    0.0
2526    0.0
       ...
4931    0.0
3264    0.0
1653    0.0
2607    0.0
2732    1.0
Name: age, Length: 3486, dtype: float64

In [17]:
testX

,hypertension,heart_disease,avg_glucose_level,bmi,stroke,smoking_category,gender_Female,gender_Male,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
1366,0,0,110.60,33.3,0,2,1,0,1,0,0,0,1,0,1,0,0
4398,0,0,234.06,33.7,0,1,1,0,0,0,1,0,0,1,0,1,0
3188,0,0,72.28,19.0,0,3,0,1,0,0,1,0,1,0,0,0,1
4891,0,0,89.03,26.6,0,3,1,0,0,1,0,0,0,1,0,0,1
4156,0,0,110.20,21.8,0,3,0,1,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047,0,0,82.31,21.3,0,1,1,0,0,1,0,0,1,0,0,1,0
1715,0,0,85.97,35.7,0,3,1,0,0,0,0,1,1,0,0,0,1
4424,0,0,115.46,27.6,0,3,0,1,0,1,0,0,1,0,0,0,1
3735,0,0,129.19,30.6,0,1,0,1,1,0,0,0,0,1,0,1,0
2578,0,0,84.10,19.8,0,3,1,0,0,0,0,1,1,0,0,0,1

In [18]:
testY

1366    0.0
4398    0.0
3188    1.0
4891    1.0
4156    1.0
       ...
1047    0.0
1715    1.0
4424    1.0
3735    0.0
2578    1.0
Name: age, Length: 1495, dtype: float64

In [19]:
trainX_prc = trainX.copy()
trainX_prc

,hypertension,heart_disease,avg_glucose_level,bmi,stroke,smoking_category,gender_Female,gender_Male,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
1692,0,0,187.87,32.3,0,1,0,1,1,0,0,0,1,0,0,1,0
4380,0,0,102.87,26.6,0,3,1,0,0,1,0,0,1,0,0,0,1
2066,0,0,88.48,34.3,0,1,0,1,0,0,1,0,1,0,0,1,0
2240,0,0,65.66,24.6,0,2,1,0,0,1,0,0,1,0,1,0,0
2526,0,1,94.45,29.6,0,2,1,0,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,0,0,212.02,33.5,0,3,0,1,0,0,1,0,1,0,0,0,1
3264,0,0,78.34,32.5,0,3,0,1,0,1,0,0,1,0,0,0,1
1653,0,0,224.63,42.8,0,1,1,0,0,0,1,0,0,1,0,1,0
2607,0,0,107.49,29.5,0,1,0,1,0,1,0,0,0,1,0,1,0
2732,0,0,90.22,18.7,0,3,1,0,0,0,0,1,1,0,0,0,1

In [20]:
testX_prc = testX.copy()
testX_prc

,hypertension,heart_disease,avg_glucose_level,bmi,stroke,smoking_category,gender_Female,gender_Male,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
1366,0,0,110.60,33.3,0,2,1,0,1,0,0,0,1,0,1,0,0
4398,0,0,234.06,33.7,0,1,1,0,0,0,1,0,0,1,0,1,0
3188,0,0,72.28,19.0,0,3,0,1,0,0,1,0,1,0,0,0,1
4891,0,0,89.03,26.6,0,3,1,0,0,1,0,0,0,1,0,0,1
4156,0,0,110.20,21.8,0,3,0,1,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047,0,0,82.31,21.3,0,1,1,0,0,1,0,0,1,0,0,1,0
1715,0,0,85.97,35.7,0,3,1,0,0,0,0,1,1,0,0,0,1
4424,0,0,115.46,27.6,0,3,0,1,0,1,0,0,1,0,0,0,1
3735,0,0,129.19,30.6,0,1,0,1,1,0,0,0,0,1,0,1,0
2578,0,0,84.10,19.8,0,3,1,0,0,0,0,1,1,0,0,0,1

### Question 6:

In [21]:
max_avg_glucose_level_train = max(trainX['avg_glucose_level'])
#max_avg_glucose_level_train
max_avg_glucose_level_test = max(testX['avg_glucose_level'])
#max_avg_glucose_level_test
max_avg_glucose_level = max(max_avg_glucose_level_train, max_avg_glucose_level_test)
max_avg_glucose_level

271.74

In [22]:
trainX_prc["avg_glucose_level"] = trainX_prc["avg_glucose_level"] / max_avg_glucose_level
trainX_prc

,hypertension,heart_disease,avg_glucose_level,bmi,stroke,smoking_category,gender_Female,gender_Male,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
1692,0,0,0.691359,32.3,0,1,0,1,1,0,0,0,1,0,0,1,0
4380,0,0,0.378560,26.6,0,3,1,0,0,1,0,0,1,0,0,0,1
2066,0,0,0.325605,34.3,0,1,0,1,0,0,1,0,1,0,0,1,0
2240,0,0,0.241628,24.6,0,2,1,0,0,1,0,0,1,0,1,0,0
2526,0,1,0.347575,29.6,0,2,1,0,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4931,0,0,0.780231,33.5,0,3,0,1,0,0,1,0,1,0,0,0,1
3264,0,0,0.288290,32.5,0,3,0,1,0,1,0,0,1,0,0,0,1
1653,0,0,0.826636,42.8,0,1,1,0,0,0,1,0,0,1,0,1,0
2607,0,0,0.395562,29.5,0,1,0,1,0,1,0,0,0,1,0,1,0
2732,0,0,0.332009,18.7,0,3,1,0,0,0,0,1,1,0,0,0,1

In [23]:
testX_prc["avg_glucose_level"] = testX_prc["avg_glucose_level"] / max_avg_glucose_level
testX_prc

,hypertension,heart_disease,avg_glucose_level,bmi,stroke,smoking_category,gender_Female,gender_Male,work_type_Govt_job,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
1366,0,0,0.407007,33.3,0,2,1,0,1,0,0,0,1,0,1,0,0
4398,0,0,0.861338,33.7,0,1,1,0,0,0,1,0,0,1,0,1,0
3188,0,0,0.265990,19.0,0,3,0,1,0,0,1,0,1,0,0,0,1
4891,0,0,0.327629,26.6,0,3,1,0,0,1,0,0,0,1,0,0,1
4156,0,0,0.405535,21.8,0,3,0,1,0,0,0,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047,0,0,0.302900,21.3,0,1,1,0,0,1,0,0,1,0,0,1,0
1715,0,0,0.316369,35.7,0,3,1,0,0,0,0,1,1,0,0,0,1
4424,0,0,0.424891,27.6,0,3,0,1,0,1,0,0,1,0,0,0,1
3735,0,0,0.475418,30.6,0,1,0,1,1,0,0,0,0,1,0,1,0
2578,0,0,0.309487,19.8,0,3,1,0,0,0,0,1,1,0,0,0,1

### Question 7:

In [24]:
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix
tree = DecisionTreeClassifier(random_state=0)
tree.fit(trainX_prc, trainY)
tree.score(trainX_prc, trainY)

1.0

In [25]:
x = f1_score(trainY, tree.predict(trainX_prc))
v = f1_score(testY, tree.predict(testX_prc))
u = accuracy_score(trainY, tree.predict(trainX_prc))
w = accuracy_score(testY, tree.predict(testX_prc))

print("Train f1 score:", x)
print("Train accuracy score:", u)
print("Test f1 score:", v)
print("Test accuracy score:", w)

Train f1 score: 1.0
Train accuracy score: 1.0
Test f1 score: 0.5911949685534592
Test accuracy score: 0.6956521739130435

### Question 8:

In [26]:
for md in range(1,26):
  model = DecisionTreeClassifier(max_depth=md, random_state=0) 
  model.fit(trainX_prc, trainY)
  print('Training Accuracy for max_depth {} is: '.format(md), model.score(trainX_prc, trainY))
  print('Test Accuracy for max_depth {} is:'.format(md), model.score(testX_prc,testY))
  print ('')

Training Accuracy for max_depth 1 is:  0.7647733792312106
Test Accuracy for max_depth 1 is: 0.7672240802675585

Training Accuracy for max_depth 2 is:  0.7647733792312106
Test Accuracy for max_depth 2 is: 0.7672240802675585

Training Accuracy for max_depth 3 is:  0.7805507745266781
Test Accuracy for max_depth 3 is: 0.7645484949832776

Training Accuracy for max_depth 4 is:  0.7871485943775101
Test Accuracy for max_depth 4 is: 0.7698996655518394

Training Accuracy for max_depth 5 is:  0.7948938611589214
Test Accuracy for max_depth 5 is: 0.7705685618729097

Training Accuracy for max_depth 6 is:  0.7991967871485943
Test Accuracy for max_depth 6 is: 0.7698996655518394

Training Accuracy for max_depth 7 is:  0.802065404475043
Test Accuracy for max_depth 7 is: 0.7719063545150502

Training Accuracy for max_depth 8 is:  0.806368330464716
Test Accuracy for max_depth 8 is: 0.7618729096989967

Training Accuracy for max_depth 9 is:  0.8129661503155479
Test Accuracy for max_depth 9 is: 0.7511705685618729

Training Accuracy for max_depth 10 is:  0.8198508318990246
Test Accuracy for max_depth 10 is: 0.7612040133779264

Training Accuracy for max_depth 11 is:  0.827596098680436
Test Accuracy for max_depth 11 is: 0.7538461538461538

Training Accuracy for max_depth 12 is:  0.8402180149168101
Test Accuracy for max_depth 12 is: 0.7531772575250836

Training Accuracy for max_depth 13 is:  0.8537005163511188
Test Accuracy for max_depth 13 is: 0.7511705685618729

Training Accuracy for max_depth 14 is:  0.8694779116465864
Test Accuracy for max_depth 14 is: 0.7471571906354515

Training Accuracy for max_depth 15 is:  0.8838209982788297
Test Accuracy for max_depth 15 is: 0.7337792642140468

Training Accuracy for max_depth 16 is:  0.9004589787722318
Test Accuracy for max_depth 16 is: 0.7197324414715719

Training Accuracy for max_depth 17 is:  0.9168100975329891
Test Accuracy for max_depth 17 is: 0.7197324414715719

Training Accuracy for max_depth 18 is:  0.9328743545611016
Test Accuracy for max_depth 18 is: 0.7096989966555184

Training Accuracy for max_depth 19 is:  0.9466437177280551
Test Accuracy for max_depth 19 is: 0.7103678929765886

Training Accuracy for max_depth 20 is:  0.9589787722317843
Test Accuracy for max_depth 20 is: 0.711705685618729

Training Accuracy for max_depth 21 is:  0.9713138267355135
Test Accuracy for max_depth 21 is: 0.705685618729097

Training Accuracy for max_depth 22 is:  0.9804934021801491
Test Accuracy for max_depth 22 is: 0.6989966555183946

Training Accuracy for max_depth 23 is:  0.9888123924268503
Test Accuracy for max_depth 23 is: 0.6996655518394649

Training Accuracy for max_depth 24 is:  0.9942627653471027
Test Accuracy for max_depth 24 is: 0.6949832775919732

Training Accuracy for max_depth 25 is:  0.9977051061388411
Test Accuracy for max_depth 25 is: 0.6936454849498328

### Question 9:

In [29]:
best_depth = 7
for i in [100,400,1000,3000, len(trainX)]:
    trainX_i = trainX.iloc[1:i+1]
    trainY_i = trainY.iloc[1:i+1]
    model = DecisionTreeClassifier(max_depth= best_depth, random_state=42) 
    model.fit(trainX_i, trainY_i)
    print(f'Training Accuracy for sample size {i} is: {model.score(trainX_i, trainY_i)}')
    print('Test Accuracy for sample size {} is:'.format(i), model.score(testX_prc,testY))
    print('')

Training Accuracy for sample size 100 is: 0.93
Test Accuracy for sample size 100 is: 0.5892976588628762

Training Accuracy for sample size 400 is: 0.825
Test Accuracy for sample size 400 is: 0.7210702341137124

Training Accuracy for sample size 1000 is: 0.829
Test Accuracy for sample size 1000 is: 0.5819397993311036

Training Accuracy for sample size 3000 is: 0.7996666666666666
Test Accuracy for sample size 3000 is: 0.6361204013377927

Training Accuracy for sample size 3486 is: 0.8020086083213773
Test Accuracy for sample size 3486 is: 0.640133779264214